<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=sql9.freemysqlhosting.net;Database=sql9192092;User ID=sql9192092; Password='VRAWVLqMb3'" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>